beautifulsoup4==4.6.0
bs4==0.0.1
cycler==0.10.0
kiwisolver==1.0.1
lxml==4.2.1
matplotlib==2.2.2
numpy==1.14.2
pandas==0.22.0
pyparsing==2.2.0
PyQt5==5.10.1
python-dateutil==2.7.0
pytz==2018.3
pywin32==223
sip==4.19.8
six==1.11.0
-e git://github.com/bjones1/pyinstaller.git#egg=pyinstaller